<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>Россияне против войны</h1>
      </header>

    <div class="wrapper">
      <!-- <nav>
        <ul>
          <li><a href="https://www.voicesinkorea.kr/"><img src="../assets/kor_flag.png" height="32" alt="한국어" />한국어</a></li>
          <li><a href="https://www.voicesinkorea.kr/en/"><img src="../assets/usa_flag.png" height="32" alt="english" />English</a></li>
        </ul>
      </nav> -->
      <section>
        <table border="0">
          <tr>
            <td width="20%">
              <p align="left">
                <table border="0">
                  <tr><td class="bluebg"><a href="https://supportukrainenow.org/">Помощь
                  </a></td></tr>
                  <tr><td class="yellowbg"><a href="https://supportukrainenow.org/">Украине
                  </a></td></tr>
                </table>
              </p>
            </td>
            <td width="44%"></td>
            <td width="12%" class="korean">
              <p align="center">
                <a href="https://www.voicesinkorea.kr/"><img src="../assets/kor_flag.png" height="32" alt="한국어" /><br>한국어</a>
              </p>
            </td>
            <td width="12%">
              <p align="center">
                <a href="https://www.voicesinkorea.kr/"><img src="../assets/new_flag.png" height="32" alt="Русский" /><br>Русский</a>
              </p>
            </td>
            <td width="12%">
              <p align="center">
                <a href="https://www.voicesinkorea.kr/en/"><img src="../assets/eng_flag.png" height="32" alt="English" /><br>English</a>
              </p>
            </td>
          </tr>
      </table>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
  </body>
</html>
